<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Tarefas</title>
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    <div class="container-primary">
      <h1>Tarefas concluídas</h1>

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Tarefas</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for tarefa in tarefas %}
          <tr>
            <td>{{ tarefa.id }}</td>
            <td>{{ tarefa.nome }}</td>
            <td>
              <a href="/alteracao/excluir/{{tarefa.id}}"
                ><button class="button-table">Excluir</button></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>