<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Currículo Online</title>
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    <div class="container-primary">
      <h1>Rubens Lima</h1>
      <div class="container-second">
        <h2>Sobre</h2>
        <p>
          Olá! Me chamo Rubens Lima, sou estudante deSistema de Informação no
          IFCE, estou atualmente no meu 7° semestre da faculdade. Possuo
          experiências em algumas tecnologias como NodeJS, Postgres, Prisma e
          Express, entre outras. Participei recentemente de uma Bootcamp onde
          desenvolvemos uma aplicação completa com back e front utilizando
          React, Axios e JWT.
        </p>
        <!-- <a href="/sobre">
          <button>Sobre</button>
        </a> -->
      </div>

      <div class="container-second">
        <h2>Experiências</h2>
        <div>
          <h3>Tutor na Líder</h3>
          <p>
            Professor de TI na Líder Formação Profissional. Cursos de
            informática básica nas modalidades Kids e Plus, além de cursos de
            Capacitação Profissional.
          </p>
        </div>
        <div>
          <h3>Bootcamp - Desenvolvimento fullstack</h3>
          <p>
            Durante a Bootcamp a nossa Squad ficou responsável por desenvolver
            um sistema web completo para uma empresa fictícia da área de
            alimentação. Link do projeto no GitHub.
          </p>
        </div>
        <!-- <a href="/experiencias">
          <button>Experiências</button>
        </a> -->
      </div>

      <div class="container-second">
        <h2>Formação</h2>
        <div>
          <h3>Bacharel em Sistemas de Informação</h3>
          <p>IFCE - Campus Cedro</p>
        </div>
        <div>
          <h3>Técnico em Informática</h3>
          <p>EEEP Francisca de Albuquerque Moura</p>
        </div>
        <!-- <a href="/formacao">
          <button>Formação</button>
        </a> -->
      </div>

      <div class="container-second">
        <h2>Contatos</h2>
        <p><b>Endereço:</b> Rua Chiquinho Carteiro N° 41</p>
        <p><b>Telefone:</b> (88) 996342531</p>
        <p><b>Portfólio:</b> https://portfolio-rubenslima.netlify.app/</p>
        <p><b>E-mail:</b> rubenslimaa645@gmail.com</p>
        <p><b>GitHub:</b> https://github.com/RubensLFerreira</p>
        <p>
          <b>Linkedin:</b> https://www.linkedin.com/in/ru bens-lima-363526149/
        </p>
        <!-- <a href="/contatos">
          <button>Contatos</button>
        </a> -->
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </body>
</html>
