<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Currículo Online</title>
  </head>
  <body>
    <div class="container-primary">
      <h1>Sobre</h1>
      <div class="container-second">
        <p>
          Olá! Me chamo Rubens Lima, sou estudante deSistema de Informação no
          IFCE, estou atualmente no meu 7° semestre da faculdade. Possuo
          experiências em algumas tecnologias como NodeJS, Postgres, Prisma e
          Express, entre outras. Participei recentemente de uma Bootcamp onde
          desenvolvemos uma aplicação completa com back e front utilizando
          React, Axios e JWT.
        </p>
        <a href="/">
          <button>Voltar</button>
        </a>
      </div>
    </div>
  </body>
</html>
